
:root{
    --background : #ffffff;
    --foreground : #171717;
    --black      : #171321;
    --dkblue     : #0d314b;
    --plum       : #4b0d49;
    --hotmag     : #ff17e4;
    --magenta    : #e310cb;
    --aqua       : #bafcfc;
    --white      : #f7f8fa;
    --font-size  : 1.3rem;
    --mono       : "Oxygen mono", monospace;
    --sans       : Oxygen, sans-serif;
}

@media (prefers-color-scheme : dark){
    :root{
        --background : #0a0a0a;
        --foreground : #ededed;
    }
}

html{
    box-sizing : border-box;
}

*,
*::before,
*::after{
    box-sizing : inherit;
}

body{
    font-family      : var(--sans);
    background-color : var(--black);
    color            : var(--white);
    font-size        : var(--font-size);
}

h1, h2, h3{
    margin  : 0;
    padding : 1rem;
}


#nav-div{
    background-color : var(--dkblue);
}

#nav{
    border      : 10px;
    font-family : var(--mono);
    font-size   : 100%;
    padding     : .5rem;
}

#nav a{
    color           : #ffffff;
    text-decoration : none;
    display         : block;
}

#nav ul{
    list-style-type : none;
    margin          : auto;
    padding         : 0;
    display         : flex;
    flex-flow       : row wrap;
    justify-content : center;
    align-items     : center;
    gap             : 2rem;
}

#nav li{
    display : inline;
    float   : left;
}

#nav li:first-child{
    flex-basis : 100%;
    text-align : center;
}

#nav li a:hover{
    background-color : white;
    color            : black;
    border-radius    : .25rem;
}

#nav [class*="fa-"]{
    font-size : 1.75rem;
    color     : var(--aqua);
    padding   : .5rem;

    &:hover{
        color : black;
    }
}

a{
    color : var(--magenta);
}

a:hover{
    color           : var(--hotmag);
    text-decoration : none;
}

.profile-picture{
    display         : flex;
    justify-content : center;
}

.profile-picture > figcaption{
    border-bottom              : 1px solid white;
    border-bottom-right-radius : 1rem;
    border-right               : 1px solid white;
    text-align                 : start;
    align-content              : center;
    width                      : 300px;
    height                     : fit-content;
    margin-top                 : 5rem;
    margin-right               : auto;
    padding                    : 1rem;
}

.profile-picture > code{
}

.profile-picture > img{
    border-bottom : 2px solid white;
    border-right  : 2px solid white;
    box-shadow    : 5px 3px white;
    border-radius : 100%;
    margin-left   : auto;
}

/* intro styles */

#intro{
    padding : 1rem;
    /*max-width : 1200px;*/
    margin  : .5rem 15rem .5rem 15rem;
}

#intro p{
    font-size   : 1rem;
    line-height : 1.5;
    /* text-align: center; */
}

#intro .name{
    text-align  : left;
    font-family : var(--mono);
}

.name span{
    font-family : var(--sans);
    font-size   : 4rem;
    color       : var(--aqua);
    display     : block;
}

#intro h2{
    font-size   : 4rem;
    font-weight : normal;
}

.div-gradient{
    background : linear-gradient(90deg, var(--aqua) 0%, var(--hotmag) 100%);
    height     : 6px;
}

/* contact section */
#contact-div{
    background-color : var(--dkblue);
    padding          : 0;
}

#contact{
    width       : 400px;
    height      : auto;
    text-align  : center;
    line-height : 1;
    margin      : auto;
    padding     : 2rem 0;
}

#contact ul{
    line-height     : 1;
    list-style-type : none;
}

#contact p a:hover{
    background-color : white;
    color            : black;
}

#contact p:last-child{
    margin-top : 3rem;
}


.button{
    background-color : var(--magenta);
    padding          : 0.5rem;
    border-radius    : 5px;
    font-family      : var(--mono);
    color            : var(--white)
}

.button:hover{

    background-color : white;
    color            : black;
}

@media (min-width : 850px){
    #nav{
        max-width : 1200px;
        margin    : 0 15rem 0 15rem;

    }

    #nav li:first-child{
        flex-basis   : auto;
        text-align   : left;
        margin-right : auto;
    }
}

.pdf{
    width        : 100%;
    aspect-ratio : 4 / 3;
}

.pdf,
html,
body{
    height  : 100%;
    margin  : 0;
    padding : 0;
}

[class*="fa-"]{
    font-size : 150%;
    color     : var(--aqua);
    padding   : .5rem;
}


/*  Style for dropdown menu  */

#dropdown{
    position   : relative;
    transform  : translateY(-0.5rem);
    display    : inline-block;
    align-self : center;
}

#dropdown-content{
    font-size        : 1rem;
    display          : none;
    position         : absolute;
    background-color : var(--dkblue);
    min-width        : .5rem;
    box-shadow       : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index          : 1;
}

#dropdown-content a{
    color           : white;
    padding         : 12px 16px;
    text-decoration : none;
    display         : block;
}

#dropdown-content a:hover{
    background-color : #ddd;
    color            : black;
}

#dropdown:hover #dropdown-content{
    display : block;
}

#about{
    border        : 1px solid white;
    border-radius : 2rem;
    margin        : 1rem;
}

#about > p{
    margin-left  : 4.75rem;
    margin-right : 4.75rem;
}

#about > h1, h2, h3{
    text-align : center;
    color      : var(--aqua);
}

#about > ul{
    list-style-type : none;
    margin-left     : 2rem;
    margin-right    : 2rem;
    padding-bottom  : 2rem;
}

#about > ul > li{
    padding : .25rem;
}

/* ABOUT PAGE */
#lang-list{
    width       : 400px;
    height      : auto;
    text-align  : center;
    line-height : 1;
    margin      : auto;
    padding     : 3rem 0;
}

#lang-list ul{
    list-style-type : none;
}


